# SPDX-FileCopyrightText: 2023 Daniel Židek <danielzidek@post.cz>
#
# SPDX-License-Identifier: CC0-1.0

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# LaTeX

Docs/Developer\ notes/*.log
Docs/Developer\ notes/*-blx.bib
Docs/Developer\ notes/*.acn
Docs/Developer\ notes/*.aux
Docs/Developer\ notes/*.bbl
Docs/Developer\ notes/*.bcf
Docs/Developer\ notes/*.blg
Docs/Developer\ notes/*.glo
Docs/Developer\ notes/*.ist
Docs/Developer\ notes/*.lof
Docs/Developer\ notes/*.lot
Docs/Developer\ notes/*.out
Docs/Developer\ notes/*.run.xml
Docs/Developer\ notes/*.synctex.gz
Docs/Developer\ notes/*.toc
Docs/Developer\ notes/*.acr
Docs/Developer\ notes/*.alg
Docs/Developer\ notes/*.glg
Docs/Developer\ notes/*.gls
