# SPDX-FileCopyrightText: 2023 Daniel Židek <danielzidek@post.cz>
#
# SPDX-License-Identifier: CC0-1.0

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

.vscode/*

# LaTeX

Docs/DevNotes/*.log
Docs/DevNotes/*-blx.bib
Docs/DevNotes/*.acn
Docs/DevNotes/*.aux
Docs/DevNotes/*.bbl
Docs/DevNotes/*.bcf
Docs/DevNotes/*.blg
Docs/DevNotes/*.glo
Docs/DevNotes/*.ist
Docs/DevNotes/*.lof
Docs/DevNotes/*.lot
Docs/DevNotes/*.out
Docs/DevNotes/*.run.xml
Docs/DevNotes/*.synctex.gz
Docs/DevNotes/*.toc
Docs/DevNotes/*.acr
Docs/DevNotes/*.alg
Docs/DevNotes/*.glg
Docs/DevNotes/*.gls
Docs/DevNotes/*.glsdefs

## Drawio

.$*.drawio.bkp
.$*.drawio.dtmp
